/* General Style */

@include fontface("bpicons", "../fonts/bpicons/bpicons", "bpicons");

/* Resets */

*,
*:after,
*:before {
	box-sizing: border-box;
}


/* Helper classes */

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}


/* Main styles */

body {
	font-family: $body-font;
	margin: 0;
	color: $main-color-1;
	background: $bg-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #5c5edc;
	outline: none;
}

a:hover {
	color: #fff;
}

.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	max-width: 226px;
	z-index: 3;
	background: $page-bg;
	padding: 10px;
	.logo-img {
		width: 100%;
	}

	@include bp (phone) {
		top: 40px;
		left: 0;
		transform: none;
	}
}

.container-custom {
	padding-top: 35px;
	padding-bottom: 35px;
}

.bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
  box-shadow: inset 1px 1px 40px 0 rgba(0,0,0,.45);

  @include bp (phone) {
      background-position: 30% 20%;
  }
}

.bg-cover {
	background-size: cover;
}

.bg-scroll {
	background-attachment: scroll;
}

.custom-card {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

	&.blue {
		background-color: $blue;
	}

	&.cyan {
		background-color: $cyan;
	}

	&.light-blue {
		background-color: $light-blue;

		.overlay {
			background-color: rgba(3, 169, 244, 0.8);
		}
	}

	.card-header {
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		font-size: 22px;
		padding: 15px 0;
		color: #ffffff;
		background-color: rgba(0, 0, 0, 0.1);
	}

	.card-body {
		font-family: $display-font;
		color: #fff;
		font-size: 14px;
		position: relative;
		.overlay {
			height: inherit;
			padding: 23px 26px;
		}

		@include bp(desk) {
			height: 305px;
		}
	}
	.card-pad {
		padding: 23px 26px;
	}
}

.button-yellow {
	color: #fff;
	left: 50%;
	transform: translateX(-60%);
	text-transform: capitalize;
	font-size: 16px;
	&:hover {
		border-color: $main-color-1;
	}
	&:hover::before {
		background-color: $main-color-1;
	}

	@include bp(phone) {
		width: auto;
		padding: 10px;
	}
}

.pr {
	position: relative;
}
