/* General Style */

@include fontface("bpicons", "../fonts/bpicons/bpicons", "bpicons");

/* Resets */

*,
*:after,
*:before {
	box-sizing: border-box;
}


/* Helper classes */

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}


/* Main styles */

body {
	font-family: $body-font;
	margin: 0;
	color: $main-color-1;
	background: $bg-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #5c5edc;
	outline: none;
}

a:hover {
	color: #fff;
}

.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	max-width: 226px;
	z-index: 3;
	background: $page-bg;
	padding: 10px;
	.logo-img {
		width: 100%;
	}

	@include bp (phone) {
		top: 40px;
		left: 0;
		transform: none;
	}
}

.container-custom {
	padding-top: 35px;
	padding-bottom: 35px;
}

.bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #464646;
  box-shadow: inset 1px 1px 40px 0 rgba(0,0,0,.45);

  @include bp (phone) {
      background-position: 30% 20%;
  }
}

.bg-cover {
	background-size: cover;
}

.bg-scroll {
	background-attachment: scroll;
}

.custom-card {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

	.card-header {
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		font-size: 22px;
		padding: 15px 0;
		color: #ffffff;
		background-color: rgba(0, 0, 0, 0.1);
	}

	.card-body {
		font-family: $display-font;
		color: #fff;
		font-size: 14px;
		position: relative;
	}
	.card-pad {
		padding: 23px 26px;
	}
}

.home-cards {
	.card-body {
		.overlay {
			height: inherit;
			padding: 23px 26px;
		}
		@include bp(desk) {
			height: 305px;
		}
	}
}

.button-yellow {
	color: #fff;
	left: 50%;
	transform: translateX(-60%);
	text-transform: capitalize;
	font-size: 16px;
	&:hover {
		border-color: $main-color-1;
	}
	&:hover::before {
		background-color: $main-color-1;
	}

	@include bp(phone) {
		width: auto;
		padding: 10px;
	}
}

.pr {
	position: relative;
}

.o-hidden{
	overflow: hidden !important;
}

.blue {
		background-color: $blue !important;
}

.cyan {
	background-color: $cyan !important;
}

.light-blue {
	background-color: $light-blue !important;

	.overlay {
		background-color: rgba(3, 169, 244, 0.8) !important;
	}
}

.align-mid {
	@include bp (desk) {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

.align-center {
	@include bp (desk) {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.align-center.align-mid {
	@include bp (tablet) {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%)translateY(-50%);
	}
}

.art-title {
	text-align: center;
}

.logo-wrapper {
	padding-bottom: 20px;
	border-bottom: 6px solid $main-color-1;
}

.article {

	margin-bottom: 35px;
	p {
		text-indent: 30px;
	}

	h2 {
		text-align: right;
	}
}

.container-menu {
	@include bp(phone) {
		margin-top: 70px !important;
	}
}

.col-special {
    padding: 0;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #eaeaea;
    @include bp(tablet) {
    	height: 160px;
    }
    @include bp(phone) {
    	padding: 10px;
    }
    a {
    	display: inline-block;
    	@include transition(font-size, 0.3s);
    	&:hover {
    		font-size: 20px;
    		color: $contrast-color;
    		font-weight: 700;
    	}
    }

    &.initials {
    	font-size: 64px;
    	a:hover {
    		font-size: 70px;
    	}
    }
}

.logo.new {
	background: #fff;
	@include bp(phone) {
		top: 85px;
	}
}

.carousel.new {
	margin-top: 0;
}

.link-effect {
	white-space:nowrap;
}