/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Fonts
$body-font: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
$display-font: 'Roboto', sans-serif;
$serif-font: Georgia, "Droid Serif",  times, serif;

// Colors
$bg-color: #fff;
$contrast-color: #f99f35;
$main-color-1: #0039AC;
// $main-color-2: lighten($main-color-1, 20%);
$main-color-2: #5f93fe;
$main-color-3: darken($main-color-1, 1%);
$main-color-4: darken($main-color-1, 10%);
$bg-light-color: #eaeaea;
$page-bg: #f2f2f2;
$content-color: #5e5e5e;
$dark-bg: #1a1a1a;

$social-media: #387d9a;

$blue: #2196f3;
$cyan: #00bcd4;
$light-blue: #03a9f4;
$yellow-color: #fffc00;