/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Fonts
$body-font: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
$display-font: "abolition", "Arial Narrow", sans-serif;
$serif-font: Georgia, "Droid Serif",  times, serif;

// Colors
$bg-color: #fff;
$main-color-1: #0039AC;
$main-color-2: lighten($main-color-1, 20%);
$main-color-3: darken($main-color-1, 4%);
$main-color-4: darken($main-color-1, 10%);
$bg-light-color: #eaeaea;
$page-bg: #f2f2f2;